[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.app/
*.apk
*.unitypackage
.vs/
.vscode/
*.csproj
*.sln
.DS_Store
Thumbs.db


Assets/Art/Models/Characters/Avatars/David/Avatars/Textures/Hair/Hair_Normal.png
Assets/arbusto.fbx
